<div class="d-flex flex-row mw-100">
	<div class="chatMessage" style="background-color: #4caf50; max-width: 60%">
		<p>@inResponse</p>
	</div>
</div>

@code {
	[Parameter]
	public string inResponse { get; set; }
}
